[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
arviz = "*"
jupyter = "*"
preliz = "*"
pynvim = "*"
black = "*"
pytensor = "*"
pymc = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.10"
